body{
    background-color: #f5d9d5;
    font-family: "nunito",Arial, Helvetica, sans-serif;

}
#mainNavbar{
    font-size: 1.5rem;
    font-weight: 100;
}
#mainNavbar .nav-link{
    color:white;

}
#mainNavbar .nav-link:hover{
    color:#ea1c2c;

}
#mainNavbar .navbar-brand{
    color: #EA1c2c;
   
}
